.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: ease-in-out 0.3s;
    font-family: 'Lato', sans-serif;
    padding: var(--size-16) 0;
}
.navbar.sticky {
    background: white;
    box-shadow: 0px 0px 20px rgb(48 63 100 / 50%);
}
.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
    color: #666;
}
.navbar-toggler{
    position: absolute;
    right: 5%;
    top: 10px;
    outline: none;
    background-color: TRANSPARENT;
    Border: 1px solid transparent;
}
.navbar-toggler span{
    color: #666;
    font-size: 20px;
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] {
    display: none;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar .container {
    display:flex;
    align-items: center;

}
.navbar-brand{
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    transition: ease-in-out 0.3s;
    color: #666;
}
.nav-link{
    margin-right: var(--size-16);
    white-space: nowrap;

}
.nav-link a {
    color: var(--font-color-base);
    /* incase we stack these items for mobile, in place of margin */
    line-height: 20px;
}
.nav-link a:hover{
    color: var(--font-color-nav-highlight);
}

.nav-link .btn.btn-primary{
    color: white;
    font-family: "Open Sans", sans-serif;
}

.navbar-brand img{
    width: var(--size-150);
}
@media screen and (max-width: 880px) {
  [aria-controls="navbarDropdown"] {
      display: block;
  } 
  [aria-expanded="false"] ~ ul {
      display: none;
  }
  [aria-expanded="true"] ~ ul {
      display: block;
      position: absolute;
      right: 0;
      top: 50px;
      background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
      width: 100%;
      text-align: right;
      box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }
  [aria-expanded="true"] ~ ul li a {
      margin-right: 20px;
      color: #666;
  }
}
.empower-sec{
    background: linear-gradient(173deg, white 0 17%, rgba(248,249,251,1.0) 30% 70.71%, white 71% 80%);
    margin-bottom: var(--size-100);
}
.empower-wrap{
    padding-top: 138px;
    padding-bottom: 50px;
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    min-width: 345px;
}
.empower-wrap p{
    font-size: var(--size-18);
}

.learn-more{
    color: var(--button);
    font-weight: 700;
    margin-left: 14px;
}
.empower-left{
    padding-bottom: 60px
}
.empower-right{
    position: relative;
    min-height: 303px;
}
.logo-bubble{
    position: absolute;
    box-sizing: initial;
    border-radius: 50%;
    border: solid thin transparent;
    box-shadow: 0px 8px 17px -3px rgb(196 196 196 / 87%);
    padding: 16px;
    max-width: 40px;
    background: white;
}

.paypal{
    bottom: 40%;
}
.asana{
    right: 0;
}
.atlassian{
    right: 50%;
    top: 12%;
}
.calender{
    bottom: 0;
    right: 0;
}
.google-ads{
    bottom: 10%;
    right: 55%;
}
.weave{
    right: 18%;
    bottom: 36%;
}
.benefits-title{
    text-align: center;
    margin-bottom: var(--size-30);
}
.key-grid{
    display: grid;
    gap: var(--size-20);
    padding: 20px 0px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
.card{
    padding: var(--size-20);
    box-shadow: 0px 8px 17px -3px rgb(196 196 196 / 87%);
}
.card .learn-more{
    font-size: var(--size-12);
    margin-left: 0;

}
.card img{
    max-width: var(--size-50);
}
.get-started{
    margin-top: 90px;
    margin-bottom: 50px;
}
.gs-wrapper{
    display: flex;
    background: var(--contrast);
    justify-content: center;
    flex-wrap: wrap;
}
.gs-left{
    width: 400px;
    margin: auto;
    padding: var(--size-60);
    
}
.gs-right{
    width: 701px;
    margin-top: var(--size-60);
}
.gs-right img{
    box-shadow: -9px -10px 15px -6px rgb(196 196 196 / 87%);
}

.why-front{
    text-align: center;
    margin-bottom: 35px;
}
.why-front p{
    width: 70%;
    margin: auto;
}
.diagram{
    margin-bottom: 45PX;
}
.diagram-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(22, 1fr );
    grid-template-rows: repeat(3, 1fr);
}
.circle{
    background-color: rgba(236,237,239,1.0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1{
    grid-column: 2/4;
    grid-row: 1/3;
}
.c2{
    grid-column: 8/10;
    grid-row: 1/3;
}
.c3{
    grid-column: 14/16;
    grid-row: 1/3;

}
.c4{
    grid-column: 20/22;
    grid-row: 1/3;

}
.line{
    border-bottom: solid 3px rgba(236,237,239,1.0);;
}
.l1{
    grid-column: 4/8;
    grid-row: 1/2;
}
.l2{
    grid-column: 10/14;
    grid-row: 1/2;
}
.l3{
    grid-column: 16/20;
    grid-row: 1/2;
}
.label{
    color: var(--font-color-base);
    text-align: center;
    font-size: var(--size-12);
}
.lab1{
    grid-column: 1/5;
    grid-row: 3/4;
}
.lab2{
    grid-column: 7/11;
    grid-row: 3/4;
}
.lab3{
    grid-column: 13/17;
    grid-row: 3/4;
}
.lab4{
    grid-column: 19/23;
    grid-row: 3/4;
}
.video{
    position: relative;
}
.play{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 3px rgb(196 196 196 / 87%);
}
.fas.fa-play{
    color: black;
}